* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Cairo", sans-serif;
  background-color: #000;
  overflow-x: hidden;
}
:root {
  --main-color: #0077b6;
}
/* Top Nav */
.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main-color);
  padding: 20px 40px;
  color: #fff;
}
.top-nav-left ul {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
}
.top-nav-left ul li a {
  color: #fff;
  font-size: 20px;
  border: 1px solid grey;
  padding: 10px;
  border-radius: 50%;
  transition: 0.5s;
}
.top-nav-left ul li a:hover {
  background-color: #444;
}

.top-nav-right {
  display: flex;
  gap: 20px;
}
.top-nav-right i {
  font-size: 20px;
}
.top-nav-right p {
  font-size: 20px;
}

/* Navbar */

.navbar {
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}
.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
}
.navbar ul li a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
}
.navbar ul li a:hover {
  color: var(--main-color);
}

.menu{
  font-size: 25px;
  cursor: pointer;
  display: none;
}
/* header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  margin: 100px auto;
}
.header .header-text > * {
  margin-top: 20px;
}
.header .header-text {
  color: #fff;
}
.header .header-text h2 span {
  color: var(--main-color);
  font-size: 50px;
}
.header .header-text h2 {
  font-size: 30px;
  line-height: 1.5;
  color:#59b9ec;
}
.header .header-text p {
  font-size: 20px;
  width: 70%;
  margin-bottom: 20px;
  line-height: 1.5;

}
.header .header-text button {
  background-color: var(--main-color);
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}
.header .header-text button:hover{
    background-color:#2d9bd6;
}
.header img {
  width: 400px;
}

/* About us */

.about{
    color: #fff;
}
.about .about-title{
    margin-bottom: 25px;
}
.about .about-p{
font-size: 20px;

}
.about .about-top{
  text-align: center;
  margin-bottom: 50px;
}
.about .about-top h2{
    font-size: 40px;
}
.about .about-top h2 span{
    color: var(--main-color);
}
.about .about-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    margin: 100px auto;
}
.about .about-content .about-left > *{
    margin-top: 20px;
}
.about .about-content .about-left h2{
    font-size: 40px;

}
.about .about-content .about-left h2 span{
  color: var(--main-color);
}
.about .about-content .about-left h3{
    color: #2d9bd6;
    font-size: 30px;
}
.about .about-content .about-left p{
    width: 50%;
    line-height: 1.5;
}
.about-right img{
    width: 300px;
}
hr{
    opacity: 0.5;
    width: 70%;
}

/* Service */

.services{
    color: #fff;
    width: 90%;
    margin: 100px auto;
}
.service-title{
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
}
.service-title span{
    color: var(--main-color);
}
.services-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
.services-content .service{
    width: 30%;
    background-color: #444;
    padding: 15px;
    margin-top: 20px;
    border-radius: 10px;
    margin: auto;
    text-align: center;
}
.services-content .service > *{
    margin-top: 20px;
}
.services-content .service i{
    font-size: 25px;
}
.services-content .service p{
    line-height: 1.5;
}
.services-content .service div{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.services-content .service div a{
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}
.services-content .service div a:hover{
    color: #0077b6;
}

/* portfolio */

.portfolio{
    width: 90%;
    margin: 100px auto;
}
.portfolio-title{
    text-align: center;
    color: #fff;
    font-size: 40px;
    margin-bottom: 70px;
}
.portfolio-title span{
    color: var(--main-color);
}
.projects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.projects .project{
    width: 32%;
    position: relative;
 
}
.projects .project img{
    width: 100%;
}
.projects .project-content > *{
    margin-top: 10px;
}
.projects .project-content {
    text-align: center;
    color: #fff;
    background-color: #0077b6;
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: 1s;
    opacity: 0.7;
    display: none;
    height: 0;
}
.projects .project-content i{
    background-color: #fff;
    padding: 10px;
    font-size: 20px;
    color: #0077b6;
}
.projects .project:hover .project-content{
   
    display: block;
    height: 75%;
}

/* Slider */

.slider{
  width: 90%;
  margin: 100px auto;
}
.slider h2{
  font-size: 40px;
  color: #fff;
  text-align: center;
  margin-bottom: 50px;
}
.slider h2 span{
  color: var(--main-color);
}
.slider-content{
  position: relative;
}
.slider-content .imgs{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  overflow: hidden;
}
.slider-content img{
  width: 20%;
  height: 200px;
}
/* .imgs i{
  color: #fff;
  font-size: 30px;
  cursor: pointer;
} */
.slider-content i{
  color: #fff;
  font-size: 35px;
  cursor: pointer;
  position: absolute;
  top: 45%;
  background-color: var(--main-color);
  border-radius: 50%;
}
.slider-content .left{
  left: 50px;
}
.slider-content .right{
  right: 50px;
}

/* Contact */

.contact{
  width: 90%;
  margin: 100px auto;
  color: #fff;
}
.contact h2{
  font-size: 40px;
  color: #fff;
  text-align: center;
  margin-bottom: 50px;
}
.contact h2 span{
  color: var(--main-color);
}

.contact-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-content .contact-left > *{
  margin-top: 20px;
}
.contact-content .contact-left div{
  display: flex;
  align-items: center;
  gap: 20px;
}
.contact-content .contact-left div i{
  font-size: 23px;
}
.contact-content .contact-left div p{
  font-size: 18px;
}
.contact-content .contact-left div a{
  color: #fff;
}

.contact-content .contact-right input{
  display: block;
  margin-top: 20px;
  width: 90%;
  padding: 10px;
  border: none;
  border: 1px solid grey;
  outline : none;
}
.contact-content .contact-right textarea{
  margin-top: 20px;
  width: 90%;
  padding: 10px;
  border: none;
  border: 1px solid grey;
  outline : none;
}

/* Map */

.map{
  width: 90%;
  margin: 100px auto;
}

/* Footer */

.footer{
  text-align: center;
  background-color: var(--main-color);
  padding: 50px;
}
.footer .footer-content{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer .footer-content div h2{
  color: orange;
  margin-bottom: 20px;
}
.footer .footer-content ul{
  list-style: none;
}
.footer .footer-content ul li{
  margin-top: 15px;
}
.footer .footer-content ul li a{
  color: #fff;
  font-size: 18px;
}

/* Media Query */

@media screen and (max-width : 768px) {
  /* Top Nav */
.top-nav {
   flex-direction: column;
   gap: 30px;
  }
.top-nav-left ul {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
}
.top-nav-left ul li a {
  color: #fff;
  font-size: 20px;
  border: 1px solid grey;
  padding: 10px;
  border-radius: 50%;
  transition: 0.5s;
}
.top-nav-left ul li a:hover {
  background-color: #444;
}

.top-nav-right {
  display: flex;
  gap: 20px;
}
.top-nav-right i {
  font-size: 20px;
}
.top-nav-right p {
  font-size: 20px;
}

/* Navbar */

.navbar {
  justify-content: space-between;
  position: relative;
}
.navbar ul {
  flex-direction: column;
  background-color: var(--main-color);
  position: absolute;
  top: 70px;
  right: -300px;
  padding: 20px;
  width: 250px;
  gap: 30px;
  transition: 1s;
}
.navbar ul.show{
  right: 0;
}
.navbar ul li a:hover {
  color: #031722;
}
.menu{
 display: block;
}

/* header */

.header {
  flex-direction: column;
  gap: 50px;
}

.header .header-text {
 text-align: center;
}

.header .header-text p {
  width: 100%;

}
.header .header-text button {
  background-color: var(--main-color);
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}
.header img {
  max-width: 100%;
}

.about{
  color: #fff;
}
.about .about-title{
  margin-bottom: 25px;
}
.about .about-p{
font-size: 20px;
}
.about .about-top{
text-align: center;
margin-bottom: 50px;

}
.about .about-content{
  flex-direction: column;
  width: 90%;
}
.about .about-content .about-left{
  text-align: center;
}
.about .about-content .about-left h2{
  font-size: 40px;

}
.about .about-content .about-left h3{
  font-size: 30px;
}
.about .about-content .about-left p{
  width: 100%;
}
.about-right img{
  max-width: 100%;
  margin-top: 50px;
}
hr{
  width: 100%;
}

/* Service */
.services-content{
  flex-direction: column;
}
.services-content .service{
  width: 90%;
}
/* portfolio */

.projects{
  flex-direction: column;
}
.projects .project{
  width: 100%;

}

/* Contact */

.contact-content{
  flex-direction: column;
  gap: 50px;
}
.contact-content .contact-left{
  margin-left: 50px;
}



/* Slider */

.slider-content .imgs{
  overflow: hidden;
  flex-direction: column;
  gap: 10px;
}
.slider-content i{
  display: none;
}
.slider-content img{
  width: 100%;
}
/* .imgs i{
  color: #fff;
  font-size: 30px;
  cursor: pointer;
} */
.slider-content i{
  color: #fff;
  font-size: 35px;
  cursor: pointer;
  position: absolute;
  top: 45%;
  background-color: var(--main-color);
  border-radius: 50%;
}
.slider-content .left{
  left: 50px;
}
.slider-content .right{
  right: 50px;
}



/* Footer */


.footer .footer-content{
  flex-direction: column;
  gap: 50px;
}
.footer .footer-content ul li a{
  color: #fff;
  font-size: 18px;
}

}